{% extends "index.html" %}
{% block content %}

<section class="border rounded-3 border-dark border-2 main-admin p-3 text-center">
    <h1>Admin sekce EMMC</h1>

    <form method="post" class="form" id="form">
        <label for="admin_name" class="custom-label">Jméno komunikujícího admina</label>
        <input id="admin_name" type="text" name="admin_name" class="form-control admin-input my-2">
        <button type="submit" value="whatever" class="btn custom-button mb-2" name="connect_admin">Připojit se</button>
        <button type="submit" value="silent" class="btn custom-button mb-5" name="connect_admin">Připojit se potichu</button>

    </form>
</section>

<section class="border rounded-3 border-dark border-2 main-admin p-3 text-center my-4">
    <h1>Simulace</h1>
    <form method="post" class="form">
        <label class="custom-label">Upravit členy posádky</label>
        <textarea name="jmena_posadky", rows="5" class="textarea rounded-3 mb-2">{{jmena_posadky}}</textarea>
        <button type="submit" name="save_names" value="whatever" class="btn custom-button mb-5">Uložit</button>

        <label class="custom-label">Nastavit datum a čas začátku simulace</label>
        <small>Zprávy zobrazují čas odeslání relativně k tomuto času</small>
        <input type="number" name="rok" placeholder="rok" value="{{datetime_zacatku.year}}" class="form-control admin-input my-2">
        <input type="number" name="mesic" placeholder="měsíc" value="{{datetime_zacatku.month}}" class="form-control admin-input my-2">
        <input type="number" name="den" placeholder="den" value="{{datetime_zacatku.day}}" class="form-control admin-input my-2">
        <input type="number" name="hodina" placeholder="hodina" value="{{datetime_zacatku.hour}}" class="form-control admin-input my-2">
        <input type="number" name="minuta" placeholder="minuta" value="{{datetime_zacatku.minute}}" class="form-control admin-input my-2">
        <button type="submit" name="datum_btn" value="whatever" class="btn custom-button">Uložit</button>
    </form>
</section>

<section class="border rounded-3 border-dark border-2 main-admin p-3 text-center my-4">
    <h1>Zprávy</h1>
    <form method="post" class="form">
        <label class="custom-label">Informace o připojených a odpojených organizátorech</label>
        <small>V tuto chvíli se {{pripojovani_sloveso}}, zda se organizátoři připojují a odpojují.</small>
        <small>Jednorázově se dá připojit a odpojit potichu pomocí tlačítka nahoře.</small>
        <button type="submit" name="admin_connect_visible" value="whatever" class="btn custom-button mb-5">{{pripojovani_button}}</button>

        <label class="custom-label">Upozornění na novou zprávu</label>
        <small>Nová zpráva, která přišla {{prodleva}} sekund po předchozí a není o připojení, způsobí všem ostatním pop-up.</small>
        <small>Tato změna bude platná po opětovném načtení aktivních chatů.</small>
        <input type="number" name="prodleva" class="form-control admin-input my-2" value="{{prodleva}}">
        <button type="submit" name="prodleva_btn" value="whatever" class="btn custom-button mb-5">Uložit</button>

        <label class="custom-label">Načíst zprávy při připojení do chatu</label>
        <small>Kolik posledních zpráv se má načíst?</small>
        <input type="number" name="last_n" class="form-control admin-input my-2" value="{{last_n}}">
        <button type="submit" name="last_n_btn" value="whatever" class="btn custom-button mb-5">Uložit</button>

        <label class="custom-label">Export všech zpráv</label>
        <small>Vygeneruje .xlsx a stáhne jej.</small>
        <button type="submit" name="export" value="whatever" class="btn custom-button mb-5">Exportovat</button>

        <label class="custom-label">Smazat všechny zprávy</label>
        <small>Jednorázově smaže všechny zprávy, užitečné zejména před simulací pro vyčištění.</small>
        <button type="submit" name="delete_all" value="whatever" class="btn custom-button mb-5" onclick="return confirm('Opravdu chcete smazat všechny zprávy?');">Smazat</button>

    </form>
</section>

<section class="border rounded-3 border-dark border-2 main-admin p-3 text-center my-4">
    <h1>Připojení</h1>
    <label class="custom-label mb-3">V místní síti je EMMC přístupné na {{local_ip}}</label>
    <label class="custom-label mb-3">Mac adresa serveru je {{mac_adress}}</label>
    
    <form method="post" class="form">

        <label class="custom-label">Port serveru</label>
        <small>Pro účinek je třeba restart webové aplikace.</small>
        <input type="number" name="port" class="form-control admin-input my-2" value="{{port}}">
        <button type="submit" name="port_btn" value="whatever" class="btn custom-button mb-5">Uložit</button>
        
    </form>
</section>

{% endblock %}