{% extends "index.html" %}
{% block content %}

<h1>Komunikujete jako {{komunikacni_jmeno}}</h1>
<div id="messages" class="messages rounded-3 my-3"></div>
<div class="inputs row">
    <div class="col-auto">
        {% if is_admin %}
            <a href="/admin">
                <button class="btn custom-button" type="button">Zpět do admin sekce</button>
            </a>
        {% else %}
            <a href="/">
                <button class="btn custom-button" type="button">Vybrat člena</button>
            </a>
        {% endif %}
    </div>
    <div class="col">
        <input type="text" id="message" class="form-control text-input">
    </div>
    <div class="col-auto">
        <button onclick="sendMessage()" class="btn custom-button">Odeslat</button>
    </div>
</div>
<input type="text" hidden id="messages_input" value="{{messages}}">

<script type="module" src="{{url_for('static', filename='chat.js')}}"></script>

{% endblock %}