<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EM Komunikace</title>
    <script src="{{url_for('static', filename='socketio_downloaded.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.bundle.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="p-4">
    {% block content %}
    {% endblock %}
</body>
</html>